<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.ShopCashExtMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.ShopCash" extends="org.forbes.dal.mapper.ShopCashMapper.BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    <include refid="org.forbes.dal.mapper.ShopCashMapper.Base_Column_List" />
  </sql>

  <select id="pageUsers" parameterType="org.forbes.comm.model.ShopCashDto" resultMap="org.forbes.comm.vo.ShopUserVo">
     SELECT c.version,
            c.account,
            c.amount,
            c.bank,
            c.status,
            c.business_id,
            s.name
     FROM f_shop_cash c JOIN f_shop s ON c.business_id=s.id
    <where>
      <if test="shopCashDto.state != null and shopCashDto.state != '' and shopCashDto.state != 'null'">
        AND c.state=#{shopCashDto.state,jdbcType=VARCHAR}
      </if>
      <if test="shopCashDto.name != null and shopCashDto.name != '' and shopCashDto.name != 'null'">
        AND s.name LIKE concat('%',#{shopCashDto.name,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

</mapper>