<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.Shop" >
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <!-- 机构代码 -->
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <!-- 法人 -->
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <!-- 审核状态-1未审核，1-审核中，2-审核通过，3-审核不通过 -->
    <result column="audit_state" property="auditState" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, name, email, phone, fax, org_code, 
    legal_person, audit_state
  </sql>

</mapper>